<!DOCTYPE html>
<html>
<head>
    <title>ID Photo Cropper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">ID Photo Cropped</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="data:image/jpeg;base64,{{ cropped_image }}" class="img-fluid">
            </div>

            <div class="back my-5">
                <a href="/" class="btn btn-primary">Back</a>
                </div>
        </div>
        
    </div>


</body>
</html>

                